<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test test suite">
  <parameter name="username" value="Foo"/>
  <parameter name="password" value="FooBar1@!"/>
  <parameter name="baseUrl" value="https://demoqa.com/books"/>
  <test name="Profile test">
    <classes>
      <class name="ru.radomskii.test.ProfileTest"/>
    </classes>
  </test>
  <test name="BookStore test">
    <classes>
      <class name="ru.radomskii.test.BookStoreTest"/>
    </classes>
  </test>
</suite>